<launch>

  <!--PORT AUTOMATION-->
  <node pkg="robot_path_planning" type="port_automation.py" name="port_detection" output="screen"/>

  <!-- ARDUINO ROSSERIAL-->
  <node name="serial_node" pkg="rosserial_python" type="serial_node.py" output="screen">
    <param name="port" value="/dev/ttyUSB1" />
    <param name="baud" value="57600" />
    <param name="input_buffer" value="512" />
    <param name="output_buffer" value="512" />
  </node>

  <!--KINEMATICS TO CONVERT CMD_VEL TO LEFT RIGHT VELOCITIES-->
  <node pkg="robot_path_planning" type="hardware_interface.py" name="hardware_interface" output="screen"/> 


</launch>