<launch>
  <!-- ROS serial node -->
  <include file="$(find robot_path_planning)/launch/rosserial_control.launch" /> 

    <!-- Start RPLIDAR -->
  <include file="$(find rplidar_ros)/launch/rplidar_a1.launch" /> 
  
  <!-- Load the map -->
  <node name="map_server" pkg="map_server" type="map_server" output="screen" args="$(find robot_path_planning)/maps/dld_lab.yaml" />
  
  <!-- Load the robot description -->
  <param name="robot_description" textfile="$(find ugv)/urdf/ugv.urdf" />

  <!-- Start joint_state_publisher -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <!-- Start joint_state_publisher
  <node pkg="robot_path_planning" type="joint_state.py" name="joint_state_script" output="screen"/> -->

  <!-- Start robot_state_publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" >
    <param name="robot_description" textfile="$(find ugv)/urdf/ugv.urdf" />
  </node>

  <!-- AMCL for Localization -->
  <node name="amcl" pkg="amcl" type="amcl" output="screen">
    <remap from="scan" to="/scan"/>
    <param name="odom_frame_id" value="odom"/>
    <param name="base_frame_id" value="base_link"/>
    <param name="global_frame_id" value="map"/>
    <param name="use_map_topic" value="true"/>
    <param name="tf_broadcast" value="true"/> 
    <rosparam file="$(find robot_path_planning)/config/amcl_params.yaml" command="load"/>
  </node> 

  <node name="diff_drive_controller" pkg="controller_manager" type="spawner" args="diff_drive_controller" output="screen" >
    <rosparam file="$(find robot_path_planning)/config/controllers.yaml" command="load" />
  </node>

  <!--<node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_node">
    <param name="use_control" value="false"/>
    <rosparam file="$(find robot_path_planning)/config/ekf.yaml" command="load"/>
  </node>-->

  <node pkg="robot_path_planning" type="odom_ugv.py" name="odom_ugv" output="screen"/>


  <include file="$(find robot_path_planning)/launch/move_base.launch" />
 
  <node pkg="robot_path_planning" type="hardware_interface.py" name="hardware_interface" output="screen"/> 

<!--
  <node pkg="robot_path_planning" type="local_planner.py" name="local_planner" output="screen" >
      <rosparam file="$(find robot_path_planning)/config/teb_params.yaml" command="load"/>
  </node>-->

  <!-- RViz for Path Planning
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_path_planning)/rviz/built_in_path_planning.rviz" output="screen"/>
-->
</launch>
