<launch>
  <!-- ROS serial node -->
  <include file="$(find robot_path_planning)/launch/rosserial_control.launch" /> 

    <!-- Start RPLIDAR -->
  <include file="$(find rplidar_ros)/launch/rplidar_a1.launch" /> 

  <node pkg="robot_path_planning" type="hardware_interface.py" name="hardware_interface" output="screen"/> 

</launch>
